<h1>Information on {{ vm.stock.Name }}</h1>

<p><small>{{ vm.stock.Symbol }}</small> </p>
<p>Information Updated: {{vm.lastUpdated}}</p>
<p>Current API Price: {{vm.currentPrice | currency}}</p>
<p>Current Mongo Price: {{ vm.stock.LastSale | currency}}</p>
<p>Market Cap: {{ vm.stock.MarketCap | number: fractionSize }}</p>
<p ng-hide = "!vm.stock.IPOyear">IPO Year: {{ vm.stock.IPOyear }}</p>
<p ng-hide = "!vm.stock.Industry">Industry: {{ vm.stock.Industry }}</p>
<p><a href = "{{ vm.stock.SummaryQuote }}" target="_blank">More Information</a></p>

<div ng-if = "vm.isLoggedIn()">
    <button type = "submit" class = "btn btn-success myBtn" ng-click = "vm.saveStock()">Save Stock</button>
    <br>
    <p ng-if="vm.isSaved" class= "alert alert-success" role = "alert">Saved!</p>
</div>


<form ng-if = "vm.isLoggedIn()" name = "buy" ng-submit = "vm.buyStock()">
    <div class="form-group">
        <label for="shares">Amount</label>
        <input type="number" class="form-control" name="shares" id="shares" placeholder="Shares to buy" ng-model="vm.shares">
    </div>
    <p  ng-hide = "buy.shares.$pristine" ng-if= "buy.shares.$dirty">Total Price for {{vm.shares}} shares: {{vm.shares * vm.stock.LastSale | currency}}</p>

  <button type="submit" class="btn btn-success">Buy</button>
</form>



<div ng-if = "vm.noFunds" ng-hide = "vm.sale" class = "alert alert-danger" role = "alert ">Sorry, insufficient funds for purchase</div>
<div ng-if = "vm.sale" class = "alert alert-success" role = "alert">{{vm.shares}} shares of {{vm.stock.Name}} purchased!</div>


<button type = "submit" class = "btn btn-success myBtn" ng-click = "vm.getArticles()">Get Recent Articles About {{vm.stock.Name}}</button> 


<div class = "articleDiv" ng-if = "vm.foundArticles" ng-repeat="article in vm.articles | orderBy:'-publishedAt'">
        <a ng-href="{{ article.url }}">{{ article.title }}</a>
        <p> {{article.source.name}} -{{article.publishedAt | date}}</p>
        <p> {{article.description}}</p>
        <button class= "btn btn-primary twitterbtn" ng-click="vm.tweetIt(article.description, article.url)">Tweet it</button>
        <button class = "btn btn-primary saveArtBtn" ng-click = "vm.saveArticle(article.title, article.url, article.source.name)">Save Article</button>
</div>

<div ng-if = "vm.noArticles" class = "alert alert-danger" role = "alert ">Sorry, no articles on {{vm.stock.Name}} available</div>

<div ng-if  = "vm.pleaseLogin" ng-hide = "vm.isLoggedIn()" class="alert alert-danger" role="alert">Sorry, this feature is only available for registered users. Please register or login now.</div>
