<h1>NASDAQ - MEAN App</h1>

<div ng-controller = "SearchController">
<form name="searchForm" ng-submit = "search()">
  <input name="symbol" type="text" id="symbol" default="search by stock symbol" ng-model="vm.symbol" ng-minlength="2" required> 
  <input type = "submit">
</form>

<div ng-if="searchForm.$valid"><h3>Information on {{ vm.stock.Name }}</h3>

    <p><small>{{ vm.stock.Symbol }}</small> </p>
    
    <p>Current Price: {{ vm.stock.LastSale | currency}}</p>
    <p>Market Cap: {{ vm.stock.MarketCap | number: fractionSize }}</p>
    <p ng-hide = "!vm.stock.IPOYear">IPO Year: {{ vm.stock.IPOYear }}</p>
    <p ng-hide = "!vm.stock.Industry">Industry: {{ vm.stock.Industry }}</p>
    <p><a href = "{{ vm.stock.SummaryQuote }}" target="_blank">More Information</a></p>

</div>

</div>