<h1>NASDAQ - MEAN App</h1>


<form name="search" ng-submit = "vm.search()">
  <input name="symbol" type="text" id="symbol" placeholder="search by stock symbol" ng-model="vm.symbol" ng-minlength="2" required> 
  <button type = "submit" class="btn btn-success">Search</button>
</form>

<!--<div ng-if="searchForm.submit" ng-model= "vm.stock">-->

    <h3>Information on {{ vm.stock.Name }}</h3>

    <p><small>{{ vm.stock.Symbol }}</small> </p>
    
    <p>Current Price: {{ vm.stock.LastSale | currency}}</p>
    <p>Market Cap: {{ vm.stock.MarketCap | number: fractionSize }}</p>
    <p ng-hide = "!vm.stock.IPOYear">IPO Year: {{ vm.stock.IPOYear }}</p>
    <p ng-hide = "!vm.stock.Industry">Industry: {{ vm.stock.Industry }}</p>
    <p><a href = "{{ vm.stock.SummaryQuote }}" target="_blank">More Information</a></p>

<!--</div>-->
